<div class="footer">
  <div class="static-map">
    <img src="https://maps.googleapis.com/maps/api/staticmap?center=pharmacie liénard,féchain&zoom=15&size=300x200&style=feature:water|saturation:-100|invert_lightness:true&key=AIzaSyD5VqM5crmZ_LsZc5XrhtP-PN6rxR1FnvM
    " alt="">
  </div>
  <div class="informations">
    <div class="info-col-1">
      <div class="info">
        <h4><strong>Adresse</strong></h4>
          <p>18, rue Louis Chantreau</p>
          <p>59247, Paris</p>
      </div>
      <div class="info">
        <h4><strong>Contact</strong></h4>
        <p>Tél : 03 21 59 53 65</p>
      </div>
    </div>
    <div class="info-col-1">
      <div class="info">
        <h4><strong>Adresse</strong></h4>
          <p>18, rue Louis Chantreau</p>
          <p>59247, Paris</p>
      </div>
      <div class="info">
        <h4><strong>Contact</strong></h4>
        <p>Tél : 03 21 59 53 65</p>
      </div>
    </div>
  </div>
</div>
